<p>Python is a  general-purpose programming language and <a href="https://en.wikipedia.org/wiki/Scripting_language" id="script_wiki">script</a>  language.
     Python is high level, dynamic, cross platform, Object oriented and also function oriented.
     <a href="https://en.wikipedia.org/wiki/Guido_van_Rossum" id="script_wiki"> Guido van Rossum</a>, Python"s creator, started developing Python back in 1990.
    Python  support high productivity for all phases   of the software life cycle: analysis,design, prototyping, coding, testing, debugging,
     tuning, documentation, deployment,
and of course, maintenance it has been very simple, power for rich content.Easiy to learn and code.
 That the python is implemented in C background their are other languge implementation like jython back of java, Ironpython back of .Net etc
 are the important implementations.
<br>
  Their is a two session  one <code>Interactive session</code> and <code>Normal</code>or<code>IDE</code> a built-in IDE with python package
 <p class="alert alert-info">python is a space sensitive programe.<br> <br>
 the basic syntax:<br>
   <code>&lt;keyword&gt;</code>[expression || <code style="color:black">(</code><code object-explain></code><code style="color:black">)</code>]<code>:
   </code><br><span style="color:white">---space---&gt;</span>  expression
   <br><span style="color:white" >---space---&gt;</span>  expression
 </p>
 <p class="alert alert-danger">Do not use tab for spaceing.Use spacebar.<br>
 Wrap lines so that they donot exceed 79 characters beacuse for stable view of the developer.</p>
 <center>
 PEP rule are used to set formate for the python struct.It is a best development guide for the large application software.<br>

  1.click <a href="https://www.python.org/dev/peps/pep-0008/">here</a> for the basic style guides this should be your 1st
     to look.<br>
   2.click <a href="https://www.python.org/dev/peps/">here</a> to look the index of PEP guides.<br>

</center>
 
  <script src="https://gist.github.com/jawahar273/da89e6dea6f47cd712e7825134894b80.js"></script>
  


     
    <div  style="width: 100%; height: 50px margin:30px;"  class="container-fluid">
    <script src="http://ideone.com/e.js/oIC01F" type="text/javascript" ></script> 
  <div class="script-1">
  </div>


  <center>
   <div class="alert alert-info">
     <p>The simple example that I have showed is without indent space be carful. Add space manullay when you are copying to try.
       (No problem for the example in <code data-toggle="tooltip" data-title="Online IDE with multilanguage">ideone</code> which is embedded view.)</p>
   </div>
   </center>
    <div class="alert alert-danger">I am using <code>Python 3.5</code> there are many <a href="python pervious ">pervious version..</a>and the 
    python 2.7 is the stable version on python 2.x.There will be some big syntax differnece on python 3.x and python2.x
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <div class="alert alert-info">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      another best thing that to get python most important package is by Anconda distribustion package
    </div>
    </div>
    <code># py </code> this statement will be a comment and <code>#!user/bin/python</code> is a enviroment option that this allow us access
    run as top-level programs.<br>
    <h3 id="print">Print():</h3>
   Now we have seen a simple exmple of <code>"print()"</code>.There is a addtion <code>attribute</code>or<code>arguments</code>This
   <code>"print()"</code>
   is a begining step for the learing of python.<code class="comment" style="color:green;">#line2</code>the<code>sep=""</code>
   is user to sepreate the two values
   <code>end=""</code> is used add the value at the end. Another beautiful option is
   <code data-toggle="tooltip" data-title="try your self">print("hi"*4,"u",sep="\t")</code>
   <br>
    <h3>An Informal Introduction to Python</h3>
     In the <code  data-toggle="tooltip" data-placement="top" title="a quick interaction services">Interactive session</code> their will a two symbols <code>&gt;&gt;&gt;</code> and <code>...</code>
     An example <br>

     <p class="well"><code>&gt;&gt;&gt;</code>2+2
       <code style="color:green">#it a one statement or query to system"> </code>
       <br>
       <code>...</code>4<br>
       <code>&gt;&gt;&gt;</code>
       <code style="color:green">#next line</code><br>
       <code>&gt;&gt;&gt;</code>4-2
         <br>
          <code >...</code>2
          <br>
          <code>&gt;&gt;&gt;</code>17 / 3  <code style="color:green">## classic division returns a float </code>
            <br>
        <code >...</code>5.666666666666667
        <br>
        <code>&gt;&gt;&gt;</code>17//3

          <code style="color:green">##  floor division discards the fractional part</code>
          <br>
          <code>...</code>5<br>
          <code>&gt;&gt;&gt;</code>
          <code style="color:green">#next line</code><br>
          <code>&gt;&gt;&gt;</code>3 ** 2<code style="color:green">#pow(3,2) is also built-in function</code><br>
          <code>...</code>6<br>
          </p>
     Here their our first <code data-toggle="tooltip" data-title="error or exception handling " data-placement="top">Traceback</code> is a error thowing object in python, there <code>try:</code>and <code>except NameError:</code>we will be
     handling in later.
          <p class = "well"><code>&gt;&gt;&gt;</code> hello  <code style="color:green"> # try to access an undefined variable</code><br>
            <code >
Traceback (most recent call last):<br>
  File "&lt;stdin&gt;", line 1, in &lt;module&gt;<br>
NameError: name 'hello is not defined</code>
</p>
   <p>Now let see the calculator with <code data-toggle="call the last value" data-title="last value call"> _  <code style="color:green">#call the last value that is stored </code>
   </code></p>

     <p class="well">

     <code>&gt;&gt;&gt;</code>y = 5+3<br>
     <code>&gt;&gt;&gt;</code>i = 1<br>
     <code>&gt;&gt;&gt;</code>y+i<br>

     <code>...</code>9
     <br>
     <code>&gt;&gt;&gt;</code>y <code style="color:green">#call the last value </code><br>
     <code>...</code>8<br>
     <code>&gt;&gt;&gt;</code>y + _<br>
       <code>...</code>16<br>
        <code>&gt;&gt;&gt;</code><code>#this 16 because the last call variable is value 8</code>
   </p>
    <p>
      <h3 id="string">String</h3>
      <p> String in python 2.x where a ascii value but one good change in python 3.x is utf code as like java and higher language  follow
        mostly.These string are immutable.The is a built-in function <code >len()</code></p>
      <p class="well">
      <code>&gt;&gt;&gt;</code>y = 'df'<br>
      <code>&gt;&gt;&gt;</code>y 'tt'<br>
      <code >
        Traceback (most recent call last):
       ...<br>
       SyntaxError: invalid syntax<br>
      </code>
        <code>&gt;&gt;&gt;</code>y+'tt'<br>
        <code>...</code>dftt
        <br>

          <code>&gt;&gt;&gt;</code> print(""" the <br>
              <code>...  </code>   is <br>
            <code>... </code>  a <br>
          <code>...</code>  life <br>
           <code>...</code> """) <br>
              <code>...</code>  the  <br>
            <code>...</code>  is <br>
            <code>...</code> a  <br>
            <code>...</code>   life <br>
    </p>
       <p> Another thing about the string is slicing the string
       </p>
         <p class="well">
           <code>&gt;&gt;&gt;</code> the = "python"  <br>
               <code>&gt;&gt;&gt;</code>the[0]<br>
               <code>...  </code>'p' <br>
               <code>&gt;&gt;&gt;</code>the[-1]<br>
               <code>...  </code>'n' <br>
               <code>&gt;&gt;&gt;</code>the[0:2]<br>
               <code>...  </code>'py' <br>
               <code>&gt;&gt;&gt;</code>the[-1:3]<code style="color:green"># this mean it is not quite possible </code><br>
               <code>...  </code>' ' <br>

         </p>
         <p>
           The slicing and concate of string will a logic one be carefull in what you.
         </p>
         <p class="well">
           <code>&gt;&gt;&gt;</code> the = "python"  <br>
                 <code>&gt;&gt;&gt;</code>len(the)<br>
               <code>...</code>6
               <code>&gt;&gt;&gt;</code>the[1:3]='4'<code style="color:green"># this mean it is not quite possible </code><br>
               <code>...<br>
                 TypeError: 'str' object does not support item assignment
                </code><br>
               <code>&gt;&gt;&gt;</code> y = the[0:2]+"/hi"<br>
              <code>...</code> 'pyt/hi'<br>

         </p>
         <p class="alert alert-info" >
               <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          Noteic: the length of the
          <code>len(the)</code> is
          <code>6</code> but the
          <code> y = the[0:2]+"/hi"</code>  with
          <code>len(y)</code>
           the lenght is
          <code>5</code>
          is because the slice string a taken account be carefull in it.
         </p>
         <p>
           <h3> Lists:</h3>
            <p> the list in python is like assing <code>list = []</code> the indexing will be alwayes states in <code>zero -&gt; 0</code>
         </p>
         <p class="well">
            <code>&gt;&gt;&gt;</code>sequance = [0,1, 2, 3, 4, 5]<br>
            <code>&gt;&gt;&gt;</code>sequance[2]<br>
            <code>...</code>2<br>
            <code>&gt;&gt;&gt;</code>sequance[0:2]<br>
            <code>...</code>[0,1]<br>
            <code>&gt;&gt;&gt;</code>sequance[0:2]<br>
            <code>...</code>[0,1]<br>
            <code>&gt;&gt;&gt;</code>sequance[0:-1]<br>
            <code>...</code>[0, 1, 2, 3, 4]<br>
            <code>&gt;&gt;&gt;</code><code style="color:green">#the  -ve in slice mean it travel form back of the list</code><br>
            <code>&gt;&gt;&gt;</code> sq [0:-5]<br>
            <code>...</code>[0]<br>
            <code>&gt;&gt;&gt;</code>sq [-4:]<br>
            <code>...</code>[2, 3, 4, 5]<br>
            <code>&gt;&gt;&gt;</code><code style="color:green">#the  slice form back with count of 4</code><br>
            <code>&gt;&gt;&gt;</code>sq [-4:-2]<code style="color:green">#sq[-4:] gives a [2,3,4,5] and with slice -2 </code><br>
            <code>...</code>[2, 3]
         </p>
         <p >This is fine when the slicing is with in the limite but what if</p>
         <p class="well">
           <code>&gt;&gt;&gt;</code>sequance = [0,1, 2, 3, 4, 5]<br>
           <code>&gt;&gt;&gt;</code>sequance[8]<br>
           <code>
             Traceback (most recent call last):<br>
             File "&lt;stdin&gt;", line 1, in &lt;module&gt;<br>
             IndexError: list index out of range<br>
           </code>
         </p>
         <p >This show that in slicing operation limit must be carful given. try this </p>
         <p class="alert alert-danger" >
         <code>&gt;&gt;&gt;</code><code style="color:black;">sequance[0:10]</code><br>

       </p>
       <table class="table table-bordered table-hover " >
         <thead>
           <td>Funtion Name:</td>
           <td>List of funtion name's uses</td>
         </thead>
         <tbody>
           <tr >
           <td>sequance.append(<code object-explain></code>)</td>
           <td>this function add the element in last place like stack(last in first out) push function.</td>
         </tr>
         <tr >
           <td>sequance.pop(<code object-explain></code>)</td>
           <td>this function remove the element from the last place stack(last in first out) pop function</td>
         </tr>
         </tbody>
       </table>
    </p>
    <p>
      <h3 id="if-statments">if statement :</h3>
      This  <code py-if-tip></code> function is used to control flow statements as like other language C,C++,java,scala,js and other language.
       <p class="well">
             <script src="http://ideone.com/e.js/8FaDTk" type="text/javascript" ></script>
       </p>
       you can use <code>'&gt;'</code> or <code>'&lt;'</code> for the comparsion is greater or less than other.
       <p class="well">
        <!--- <script src="http://ideone.com/e.js/7ppvoH" type="text/javascript" ></script> -->
       </p>
    </p>
    <p>
      <h3 id="loops">for and while statement:</h3>
       The <code>for</code> loop in python is little differnet in most of the program is you are familiar with java,c++,c,c# that the
       loop will like <code style="color:green">#int i; for(i=0;i&lt;8;i++)</code>
       <p class="well">
         <code>&gt;&gt;&gt;</code>for i in range(0,4):<br>
         <code>...</code> print(i)<br>
         <code>...</code>0<br>
         <code>...</code>1<br>
         <code>...</code>2<br>
         <code>...</code>3<br>
       </p>
       <p class="alert alert-info">range (0,4) = &gt; 0,1,2,3 this is the limite be carefull in choosing range of element </p>
       <p> There is no array symoble in python <code>['1','2','3']</code>or <code>list()</code> is a list  iterates <br>note: the index will always start with <code>0</code></p>
       <p class="well">
          <!--- <script src="http://ideone.com/e.js/Rsb67q" type="text/javascript" ></script>-->
        </p>
       <p><code>break</code>and<code>continue</code>(<code>else</code> this will be use less in partice)</p>
       <p class="well">
           <!---<script src="http://ideone.com/e.js/4y0TZ9" type="text/javascript" ></script>-->
         </p>
      <center> <p> for loop with break statement</p>  </center>
       <p class="well">
         <!---<script src="http://ideone.com/e.js/lDdFyr" type="text/javascript" ></script>-->
       </p>
       <code>while</code> is same as <code>for</code> syntax
       <p class = "well">
          <code>&gt;&gt;&gt;</code>i = 0<br>
          <code>&gt;&gt;&gt;</code>while i &lt; 4:<br>
          <code>...</code>print(i)<br>
          <code>...</code>i = i + 1<br>
          0<br>
          1<br>
          2<br>
          3<br>
    </p>
    infinte loop using the <code>while</code> this loop should be terminated mannully with keyboardinterruption
    <code>while</code> is same as <code>for</code> syntax
    <p class = "well">
       <code>&gt;&gt;&gt;</code>while true: <code style="color:green"># this is terminated ctrl + c</code><br>
        <code>...</code> pass
   </p>
   <p>defining a function in python with keyword <code>def</code></p>
   <p class="well">
    <code>&gt;&gt;&gt;</code><code> def</code> hello():<code style="color:green">#defining a function </code><br>
      <code>...</code> print("hello world")<br>
      <code>...</code><br>
        <code>&gt;&gt;&gt;</code> hello<br>
     &lt; function hello at  1034ed0 &gt;<br>
      <code>&gt;&gt;&gt;</code>hello()  <code style="color:green">#calling the function</code>
   </p>
   <p>
    