
<div>
 <h3>Os installing:</h3>
 <p>
 	Python is a cross platform, so need to makeing of seprate files on one-platform and another-platform.The installing instruction are aviable on internet 
 	on offical document.
 	<h4>System path:</h4>
 	 Python uses <code>PATH</code> environment on the system.Both the linux and windows will be having the <code>PATH</code> variable.To cut of from the 
 	 python <code>Interactive session</code> use <code>exit()</code> or <code>ctrl</code>(or)<code>cmd</code> <code>+z</code>.This will do the stuff.
 	 To start the new install python code use <code>python</code> keyword.The custom key will be also allow on installization.
 	 <h4>Advantage:</h4>
 	  <ul>
       <li>short code.</li>
       <li>easy understand.</li>
       <li>trending community.</li>
        <li>toops and function oriented.</li>
 	  </ul>
 	  Every coin has it disadvantage.<br>

 	   	 <h4>Disadvantage:</h4>
 	  <ul>
       <li>interpeter.</li>
       <li>due to interpetertation line by line error check.</li>
       <li>not strong oops oriented.</li>
 	  </ul>
 	  The python will be having <code>#!user/bin/python</code> to run on the top level, mainly for unix os.In windows will not requiring this step, the os will 
 	  be ignoring this line.	The another form this line <code>#!user/bin/env</code> both of these line will be having unique way of working 
 	  on the same python.The main reason it search on system default search path and little good with portable.
 </p>
</div>
